{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form>
  <div class="mb-3">
    <label for="title" class="form-label">Заголовок</label>
    <input type="email" class="form-control" id="title" name="title" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Контент</label>
    <input type="text" class="form-control" id="content" name="content">
  </div>

  <button type="submit" class="btn btn-primary">Создать</button>
</form>
</div>

{% endblock %}